/*yg ini sptnya uda ga kpake.jd,nti kalo ada yg perlu dihapus, ini salah 1nya */
A.topnav:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: tahoma;
    TEXT-DECORATION: none
}
A.topnav:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: tahoma;
    TEXT-DECORATION: none
}
A.topnav:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: tahoma;
    TEXT-DECORATION: none
}
A.topnav:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: tahoma;
    TEXT-DECORATION: underline
}
A.topactive:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: tahoma;
    TEXT-DECORATION: underline
}
A.topactive:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: tahoma;
    TEXT-DECORATION: underline
}
A.topactive:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: tahoma;
    TEXT-DECORATION: underline
}
A.topactive:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: black;
    FONT-FAMILY: tahoma;
    TEXT-DECORATION: underline overline
}
A:link
{
    FONT-SIZE: 12px;
    COLOR: black;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Trebuchet MS;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-SIZE: 12px;
    COLOR: black;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Trebuchet MS;
    TEXT-DECORATION: none
}
A:active
{
    FONT-SIZE: 12px;
    COLOR: black; 
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Trebuchet MS;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-SIZE: 12px;
    COLOR: black; 
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Trebuchet MS;
    TEXT-DECORATION: underline
}
.body
{
    FONT: 10px tahoma, Arial, Helvetica, sans-serif;
    COLOR: black
}
TD
{
    FONT: 10px tahoma, Arial, Helvetica, sans-serif;
    COLOR: black
}
.box
{
    BORDER-RIGHT: black thin solid;
    BORDER-TOP: black thin solid;
    FONT: 10px tahoma, Arial, Helvetica, sans-serif;
    BORDER-LEFT: black thin solid;
    COLOR: black;
    BORDER-BOTTOM: black thin solid;
    BACKGROUND-COLOR: transparent
}
.box2
{
    BORDER-RIGHT: black thin solid;
    BORDER-TOP: black thin solid;
    FONT: 10px tahoma, Arial, Helvetica, sans-serif;
    BORDER-LEFT: black thin solid;
    COLOR: black;
    BORDER-BOTTOM: black thin solid;
}
.TitTable
{
	font: 12px Tahoma;
	color:black;
}