/*Page Style @modal-56276963*/
.ModalShowDiv {
     position: absolute;
     width:600px;
     margin: 100px auto;
     background-color: transparent;
     border:0px solid #000;
     padding:0px;
     text-align:center;
     z-index: 200;
     display: none;
	 top:75px;
	 left:50%;
	 margin-left: -250px;
}
/*End Page Style*/

